bin/
build/
dist/
include/
lib/

.env
.DS_Store
.mm
.venv/
.vscode/

__pycache__/
*.pyc

*.egg
*.egg-info/
.eggs/
MANIFEST

.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
coverage.xml
htmlcov/
truenas-receipt-uploader/venv/
truenas-receipt-uploader/.env
__pycache__/
*.pyc
monarch-receipt-uploader.zip
